.reg_header {

    text-align: center;
    /* color: #fff; */
    margin-bottom: 0;
   
    width: 100%;

}
.reg_header input{
    margin-left: 1rem;
}
.reg_header .modal-content{
    width: 48%;
     /* float: right;
    left: 22%;
    height: 601px; */
    left: 25%;
} 
.button{
    padding: 15px 0;
    border-radius: 10px;
    font-size: 22px;
    background: rgb(227, 66, 75);
    border: 1px solid rgb(227, 66, 75);;
    color: #fff;
    width: 100%;
    margin-top:20px;
}
.reg_body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
}
.reg_model{
    padding: 15px;
    /* border-bottom: 1px solid #ddd; */
    display: block;
    /* height: 100px; */
    width: 100%;
    /* border-radius: 10px 10px 0 0; */
   
   
}

.reg_header .reg_model {


    padding: 0 0;
    border-bottom: 0;
    border-top-left-radius: 0;
    
    border-top-right-radius: 0;
    /* padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px); */

}
/* Modal{
    
    padding: 0;
     border-bottom: 0;
     border-top-left-radius: 0;
     border-top-right-radius: 0; */
/* } */

.reg_body p{
    color: #333;
}